{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
	<main role="main">
    <article itemscope itemtype="http://schema.org/BlogPosting" class="h-entry">
			<h1 class="p-name article__title" itemprop="headline">{{ .Title }}</h1>
			<span class="article__meta">
        <ul class="article__tags">
          {{ range (.GetTerms "tags") }}
          <li>#<a href="{{ .Permalink }}" class="p-category">{{.LinkTitle}}</a></li>
          {{ end }}
        </ul>
        <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}" class="dt-published">
          {{ .Date.Format "January 02, 2006" }}
        </time>
      </span>
      <aside>
          <span>Table of contents</span>
        {{ .TableOfContents }}
      </aside>
      <div itemprop="entry-text" class="e-content">
				{{ .Content }}
			</div>
		</article>
	</main>
  <hr />
  {{ partial "page_navigation.html" . }}
  <hr />
  {{ partial "webmention.html" . }}
{{ end }}
