<aside id="webmention">
    <h2>Webmention</h2>
    <script id="webmention-hosted">
    (function () {
    var sn = document.createElement("script"), s = document.getElementsByTagName("script")[0], url;
    url = document.querySelectorAll ? document.querySelectorAll("link[rel~=canonical]") : false;
    url = url && url[0] ? url[0].href : false;
    sn.type = "text/javascript"; sn.async = true;
    sn.src = "//webmention.herokuapp.com/api/embed?url=" + encodeURIComponent(url || window.location);
    s.parentNode.insertBefore(sn, s);
    }());
    </script>
    <style>
      .webmention-container .webmention-mention .webmention-author a img {
        width: 20px;
      }
      .webmention-mention {
        margin-bottom: 20px;  
      }
    </style>
    <small>This page has accepted <a href="https://indieweb.org/Webmention">webmention</a> via <a href="https://webmention.herokuapp.com">webmention.herokuapp.com</a>.</small>
</aside>
